<template>
  <div class="about">
    <div class="card shadow border-0">
      <div class="card-header text-center">
        <h4>Sign In</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <form @submit.prevent="login()">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="">Email</label>
                <input type="text" name="email" v-model="email" class="form-control" required>
              </div>
              <div class="col-12 mb-3">
                <label for="">Passowrd</label>
                <input type="password" name="password" v-model="password" class="form-control">
              </div>
            </div>
            <div class="row text-end">
              <div class="col-12">
                <button class="btn btn-sm btn-outline-success">Sign In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
    }
  },

  methods: {
    login() {
      axios.post('https://reqres.in/api/login', {
        email: this.email,
        password: this.password,
      }).then((res) => {
        alert("Login successfuly!")
        this.$router.push({name : 'member.index'})
      }).catch((err) => {
        const error_message = err.response.data.error
        error_message
        alert(error_message)
      })
    }
  }
}
</script>
<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 500px;
  }
}
</style>
