<template>
  <div class="about">
    <div class="card shadow border-0">
      <div class="card-header text-center">
        <h4>Sign Up</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <form @submit.prevent="register()">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="">Username</label>
                <input type="text" name="username" v-model="username" class="form-control" required>
              </div>
              <div class="col-12 mb-3">
                <label for="">Passowrd</label>
                <input type="password" name="password" v-model="password" class="form-control">
              </div>
            </div>
            <div class="row text-end">
              <div class="col-6">
                <router-link
                  :to="{ name: 'login' }"
                >
                  <i>Already have an account?</i>
                </router-link>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-outline-success">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Register',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    register() {
      axios.post('https://reqres.in/api/register', {
        username: this.username,
        password: this.password,
      }).then((res) => {
        alert("Register successfuly!")
        this.$router.push({name : 'login'})
      }).catch((err) => {
        const error_message = err.response.data.error
        error_message
        alert(error_message)
      })
      
    }
  }
}
</script>
<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 500px;
  }
}
</style>
