<template>
    <div class="container">
        <div class="card rouded shadow border-0">
            <div class="card-header d-flex justify-content-between">
                <div>
                    Add New
                </div>
                <div>
                    <router-link
                        class="btn btn-sm btn-primary"
                        :to="{ name: 'member.index' }"
                    >Back</router-link>
                </div>
            </div>
            <div class="card-body p-5 text-dark">
                <form @submit.prevent="store()">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="">First Name</label>
                            <input class="form-control" type="text" name="first_name" v-model="member.first_name" placeholder="Enter first name" >
                            <div
                                v-if="validation.first_name"
                                class="text-danger"
                            >
                                {{ validation.first_name }}
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="">Last Name</label>
                            <input class="form-control" type="text" name="last_name" v-model="member.last_name" placeholder="Enter Last name" >
                            <div
                                v-if="validation.last_name"
                                class="text-danger"
                            >
                                {{ validation.last }}
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="">Email</label>
                            <input class="form-control" type="email" name="email" v-model="member.email" placeholder="Email" >
                            <div
                                v-if="validation.email"
                                class="text-danger"
                            >
                                {{ validation.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';

export default {
    setup() {
        const member = reactive({
            first_name: '',
            last_name: '',
            email: '',
        });

        const validation = ref([]);

        const router = useRouter();

        function store() {
            axios.post(
                'https://reqres.in/api/users',
                member
            )
            .then(() => {
                router.push({
                    name: 'member.index'
                });
                console.log('Successfuly add data!')
            }).catch((err) => {
                validation.value = err.response.data
            });
        }

        return {
            member,
            validation,
            router,
            store
        }
    }
}
</script>