<template>
    <div class="container">
        <div class="card rouded shadow border-0">
            <div class="card-header d-flex justify-content-between">
                <div>
                    Detail Data
                </div>
                <div>
                    <router-link
                        class="btn btn-sm btn-primary"
                        :to="{ name: 'member.index' }"
                    >Back</router-link>
                </div>
            </div>
            <div class="card-body p-5 text-dark">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="fw-bold" for="">Full Name :</label>
                            <p class="">{{ member.first_name + ' ' + member.last_name }}</p>
                        </div>
                        <div class="form-group">
                            <label class="fw-bold" for="">Email :</label>
                            <p class="">{{ member.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref, onMounted } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import axios from 'axios';

export default {
    setup() {
        let member = reactive({
            first_name: '',
            last_name: '',
            email: '',
        })

        const validation = ref([]);

        const router = useRouter();
        const route = useRoute();

        onMounted(() => {
            axios.get(`https://reqres.in/api/users/${route.params.id}`)
            .then((res) => {
                member.first_name = res.data.data.first_name
                member.last_name = res.data.data.last_name
                member.email = res.data.data.email
            }).catch((err) => {
                console.log(err.response.data)
            })
        });

        return {
            member,
            validation,
            router,
        }
    },
}
</script>