<template>
    <div class="container">
        <div class="card rouded shadow border-0">
            <div class="card-header d-flex justify-content-between">
                <div>
                    Edit Data
                </div>
                <div>
                    <router-link
                        class="btn btn-sm btn-primary"
                        :to="{ name: 'member.index' }"
                    >Back</router-link>
                </div>
            </div>
            <div class="card-body p-5 text-dark">
                <form @submit.prevent="update()">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="">First Name</label>
                            <input class="form-control" type="text" name="first_name" v-model="member.first_name" placeholder="Enter first name" required>
                            <div
                                v-if="validation.first_name"
                                class="text-danger"
                            >
                                {{ validation.first_name }}
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="">Last Name</label>
                            <input class="form-control" type="text" name="last_name" v-model="member.last_name" placeholder="Enter Last name" required>
                            <div
                                v-if="validation.last_name"
                                class="text-danger"
                            >
                                {{ validation.last }}
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="">Email</label>
                            <input class="form-control" type="email" name="email" v-model="member.email" placeholder="Email" required>
                            <div
                                v-if="validation.email"
                                class="text-danger"
                            >
                                {{ validation.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-sm btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref, onMounted } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import axios from 'axios';

export default {
    setup() {
        let member = reactive({
            first_name: '',
            last_name: '',
            email: '',
        })

        const validation = ref([]);

        const router = useRouter();
        const route = useRoute();

        onMounted(() => {
            axios.get(`https://reqres.in/api/users/${route.params.id}`)
            .then((res) => {
                member.first_name = res.data.data.first_name
                member.last_name = res.data.data.last_name
                member.email = res.data.data.email
            }).catch((err) => {
                console.log(err.response.data)
            })
        });

        function update() {
            axios.put(
                `https://reqres.in/api/users/${route.params.id}`,
                member
            )
            .then(() => {
                router.push({
                    name: 'member.index'
                });
                console.log('Successfuly edit data!')
            }).catch((err) => {
                validation.value = err.response.data
            });
        }

        return {
            member,
            validation,
            router,
            update
        }
    },
}
</script>