<template>
    <div class="container">
        <div class="card rouded shadow border-0">
            <div class="card-header d-flex justify-content-between">
                <div>
                    List Data
                </div>
                <div>
                    <router-link
                        class="btn btn-sm btn-primary"
                        :to="{ name: 'member.create' }"
                    >Add New</router-link>
                </div>
            </div>
            <div class="card-body p-5 text-dark">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(member, index) in members.data" :key="index"
                        >
                            <td>{{ member.id }}</td>
                            <td>{{ member.first_name + ' ' + member.last_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>
                                <div class="btn-group">
                                    <router-link 
                                        :to="{ name: 'member.edit', params:{id: member.id} }"
                                        class="btn btn-sm btn-outline-info"
                                    >Edit</router-link>
                                    <button class="btn btn-sm btn-outline-danger" @click.prevent="destroy(member.id, index)">Delete</button>
                                    <router-link 
                                        :to="{ name: 'member.detail', params:{id: member.id} }"
                                        class="btn btn-sm btn-outline-secondary"
                                    >Detail</router-link>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { onMounted, ref } from 'vue';

export default {
    setup () {
        let members = ref([]);

        onMounted(() => {
            axios.get('https://reqres.in/api/users?page=1')
             .then((result) => {
                members.value = result.data
             }).catch((err) => {
                console.log(err.response)
             });
        });

        function destroy(id, index) {
            axios.delete(
                `https://reqres.in/api/users/${id}`
            )
            .then(() => {
                members.value.data.splice(index, 1)
                console.log('Successfuly edit data!')
            }).catch((err) => {
                console.log(err.response.data)
            });
        }

        return {
            members,
            destroy
        }
    }
}
</script>